<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml%22%3E
      @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SeYu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>